#class0, #class1, #class2, #class3, #class4, #class7, #class1,#class8, #class9, #class10, #class11, #class12, #class13{
    width: 300px;
    height: 300px;
}

#team0, #team1, #team2, #team3{
    width: 200px;
    height: 200px;
}

#ser1, #ser2, #ser3, #ser4, #ser7{
    width: 300px;
    height: 300px;
}
#po1, #po2, #po3, #po4, #po7,#po8, #po9, #po10, #po11{
    width: 400px;
    height: 300px;
}
#p1, #p2, #p3, #p4{
    width: 300px;
    height: 300px;
}